<html>
<head>
    <title>Privacy Policy</title>
</head>
<body>

<h1>Privacy Policy</h1>

<p>
We respect your privacy and are committed to protecting user information.</p>
<p>
We may collect anonymous analytics data such as browser type,
device information, and website usage statistics. </p>
<p>
We do not sell personal information to third parties.</p>
<p>
Third-party services such as Cloudinary, Google Analytics,
and Google AdSense may collect data according to their own policies.</p>


<a href="/">Back to Home</a>

     </body>
</html>
